.custome-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custome-modal .modal-header {
  text-align: center;
}

.custome-modal .modal-content {
  max-height: 90vh;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.custome-modal .modal-body {
  overflow-y: auto;
  flex: 1;
  padding: 5px 55px;
}

.custome-image {
  background: rgba(213, 223, 216, 0.356);
  border-radius: 10px 10px 0 0;
  margin: 0px 10px;
  height: 225px;
  text-align: start;
  flex: 1;
}

.custome-image img {
  object-fit: contain;
}

.custome-form {
  border: rgb(181, 181, 182) 1px dashed;
  border-radius: 10px;
  flex: 1;
  position: relative;
}

.circular-contaier {
  position: absolute;
  scale: 0.9;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percentage {
  text-align: center;
  color: rgb(6, 155, 80);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2px;
}

.modal-footer {
  justify-content: center !important;
}

.modal-footer .btn {
  flex: 0 0 auto;
  width: auto !important;
  min-width: 100px;
}

.modal-body .d-flex.justify-content-center .btn {
  flex: 0 0 auto;
  width: 100px !important;
}
