.login-container {
  background: #f5f5f5;
}

.glass-card {
  align-self: flex-start;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: var(--shadow-light-blue-md);
  border-radius: 1.25rem;
  width: 100%;
  max-width: 450px;
  padding: 2rem 2.5rem;
}

.icon-wrapper {
  display: inline-block;
  padding: 1.2rem;
  background-color: #eeffee;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.icon-wrapper .lucide {
  width: 32px;
  height: 32px;
  color: var(--primary-blue);
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568;
  margin-bottom: 0.4rem;
}

.form-control {
  padding: 0.55rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
}

.btn-custom {
  background-color: var(--primaryGreen);
  border-color: var(--primaryGreen);
  padding: 0.65rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .glass-card {
    padding: 1.2rem 1.2rem;
  }
  .form-label {
    margin-bottom: 2px !important;
  }
}
