:root {
  --primaryGreen: #198653;
  --primaryBlue: #4e88e6;
  --text: #616161;
  --navbackground: #eff0f1;
  --borderRadius: 50px;
  --shadow-light-blue-md:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Cairo", sans-serif;
}
