.update-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-modal .modal-content {
  max-height: 90vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-modal .modal-body {
  overflow-y: auto;
  flex: 1;
  padding: 0 30px;
}

.update-form {
  border: rgb(181, 181, 182) 1px dashed;
  border-radius: 10px;
}

.update-image {
  background: rgba(213, 223, 216, 0.356);
  border-radius: 10px 10px 0 0;
}

.btn {
  width: 65px;
}
