.user-img {
    width:20px; 
    height:20px;
}

/*Home*/
.hero-container {
    position: relative;
    width: 100%;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); 
    pointer-events: none;
    z-index: 1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(207, 209, 182);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: Aref Ruqaa, arial;
    z-index: 2;  
}

.home_text {
    font-family: 'Cairo', sans-serif;
    font-size: 1.3rem;
}

.home_text h3{
    font-weight: bold;
}

/*signup + login*/
.form-floating > label {
  left: auto;       
  right: 1rem;   
  text-align: right;
}

/*signup*/
#passwordImg-box {
    box-shadow: inset 0 0 6px rgba(151, 147, 147, 0.25);
    cursor: pointer;
}

#passwordImg {
  height: 20px;
  width: 20px;
}

/*upload image*/
#instruction_link{
    cursor: pointer;
    color: rgb(56, 56, 190);
    text-decoration: underline;
}

.modal-content {
    height: 90vh;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

#drop-area {
    width:80%;
    height:200px;
    border-radius: 5px;
    border:3px dashed #b1b1b1 ;
    background-color: rgb(240, 254, 255);
}

#drop-result, #modal-drop-result {
    width:80%;
    height:200px;
    border-radius: 5px;
    background-color: rgb(240, 254, 255);
}

#img-view, #result-image, #modal-result-image{
    width: 100%;
    height: 100%;            
    display: flex;          
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#img-view img{
    object-fit: contain;
    width:13%;
    height: auto;
}

.form-control::placeholder, .holder, select:invalid {
    color:#afadad;
}

#form-missing label {
    margin-right: 4px;
    margin-bottom: 3px;
}

#form-missing .row, #form-missing textarea{
    margin-bottom: 4px;
}

.requiredStart {
    color: rgb(209, 23, 23);
}

#errorMessage {
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(214, 30, 30);
    text-align: center;
}

.percent-container{
    position: relative;
}

.percent-head {
    position: relative;
    margin: 0;
    text-align: center;
    z-index: 2;
}

.percent_circle{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(
        rgb(4, 190, 4) calc(var(--percent) * 1%),
        rgba(0,0,0,0.1) 0
    );
    z-index: 1;
}

.percent_circle::after {
    content: "";
    position: absolute;
    inset: 10px;        
    background: rgb(253, 251, 251); 
    border-radius: 50%;
}

.result-info{
    font-size: 1.06rem;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

.result-lable {
    margin-bottom: 3px;
}

.readonly-input{
    margin-bottom: 5px;
    color:#979696;
    border-bottom: 1px solid #e7eaec;
}

#noResult-column {
    background-color: rgb(255, 250, 250);
    border: 2px solid rgb(255, 150, 150);
}

.noResult-img img {
    max-width: 200px;
    height: auto;
}

/*m_uplaods*/
#confirmDeleteModal .modal-content {
    height: auto !important;
}

#modal-result-image {
    object-fit: contain;
}

#modal-result-image {
    background-color: white;
}

body:has(#my-uploads-row){
    background-color: #fafafa;
}

#my-uploads-row, .uploaded-pepole-text{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(167, 167, 167, 0.274);
}

#my-uploads-row .card {
    box-shadow: 0px 2px 8px rgba(167, 167, 167, 0.315);
    width: 14rem;
}

.status-match, .status-noMatch {
    padding:0.3rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 1rem;
    margin: 0.7rem 2rem;
    font-size: 0.9rem;
}
.status-match {
    color: rgb(1, 214, 72);
    background-color: #c7ffc08c;
    border: 1px solid rgba(1, 214, 72, 0.301);
}

.status-noMatch {
    color: rgba(230, 0, 0, 0.733);
    background-color: hsla(0, 100%, 89%, 0.459);
    border: 1px solid rgba(255, 87, 87, 0.226);
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 15px;
    }

    #offcanvasDarkNavbar {            
        min-width: 150px;       
        max-width: 250px; 
        font-size: 1.15rem;     
    }
    
    .nav-item {
        padding-right: 15px;
        margin-bottom: 5px;
    }

    li:has(> .active) {
        background-color: rgba(255, 255, 255, 0.1); ;
        border-radius: 4px;
    }

    .login-btn {
        margin-top: 20px;
        text-align: center;
    }

    /*home*/
    .hero-container  {
        height: 65vh;
    }

    /*upload*/
    #form-missing label, .result-lable {
        font-weight: bold;
    }

    .title {
        font-size: 1.3rem;
    }

    .send-btn {
        font-size: 1.3rem;
        font-weight: bold;
    }

    #img-view img{
        width:15%;
    }

    /*missing list*/
    #my-uploads-row {
        box-shadow: 0px 2px 8px rgba(119, 119, 119, 0.363);
    }
}